@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: 0.5s ease;

   
}
/* Ana html 1rem=10px olması için*/
html{
    font-size: 62.5%;
    overflow-x: hidden;/* x düzeyindeki aşırı büyüklük için (taşmalar vs.)*/
}
body{
    /*background-color: rgb(4, 11, 29);*/ background-color: #4796D6;
    height: 500vh;
    font-size:large;
}
section{
    padding:10rem 10%; /*Sağdan solda 7% lik v verildi. top ve bottom 35px . tüm seciton elementleri için hepsi aynı hizada olmalı.*/
   
}


/*admibpage start*/

.page .row .col-12 a{
    float:right;
}
.page .row .col-12{
    background-color:lightseagreen;
    padding:2%;
}
.page .icerik .col-12{
    background-color:lightskyblue ;
}

