@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: 0.5s ease;

   
}
/* Ana html 1rem=10px olması için*/
html{
    font-size: 62.5%;
    overflow-x: hidden;/* x düzeyindeki aşırı büyüklük için (taşmalar vs.)*/
}
body{
    /*background-color: rgb(4, 11, 29);*/ background-color: #5c819e; 
    height: 200vh;
}
section{
    padding:3.5rem 7%; /*Sağdan solda 7% lik v verildi. top ve bottom 35px . tüm seciton elementleri için hepsi aynı hizada olmalı.*/
   
}
.btn{
    background-color: #5E90BF;
    font-size: 2.5rem;
    padding: 0.5rem 1rem ;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 17px -2px rgba(253, 252, 252, 0.75);
   
}
.btn:hover{
    background-color:#a8cae7 ;
}
.btn-ex{
    background-color: #FFFFFF;
    font-size: 2.5rem;
    padding: 0.5rem 1rem ;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 17px -2px rgba(253, 252, 252, 0.75);
   
}
.btn-ex:hover{
    background-color:#a8cae7 ;
}



/* Header Start */


.header .logo img{
    height: 10rem;
    border-radius: 3rem;
}
.header{
    animation: animheader2 1s;     /*Tam tersi bir etki için*/
    animation-fill-mode: forwards;

    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
    display: flex;/* Yan yana olmasını sağlamak için*/
    align-items: center;/* elementler dikeyde merkez oldu*/
    justify-content: space-between;/* Sol orta ve sağ olarak hizalandı*/

    padding:0 7%;/* Sağdan ve soldan 7 padding top ve bottom 0*/
    position: sticky;
    margin: 2rem ; /* top ve bottom 2rem , right ve left 7% lik */
    
}
.header.sticky{
    top:0;
    position: sticky;
    z-index: 10;
    animation: animheader 1s;
    animation-fill-mode: forwards;

    font-size:50%;
    
   
}
.header.sticky nav ul li .active{
    color:black;text-shadow: 5px 5px 3px  rgba(0, 0, 0, 0.13);
}
.header nav ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 2rem;
    font-size: 2rem;
    color:black;
   
}
.header nav ul li a{
    text-decoration: none;color:black;
}
.header nav ul li .active{color:rgba(255, 255, 255, 0.466); text-shadow: 5px 5px 3px  rgba(0, 0, 0, 0.13);} /* 3. parametre bulanıklıgı ayarlıyor.*/
.header nav ul li a:hover{
    color:rgba(255, 255, 255, 0.466);text-shadow: 5px 5px 3px  rgba(0, 0, 0, 0.13);
}
.header.sticky nav ul li a:hover{
    color:rgba(56, 55, 55, 0.466);text-shadow: 5px 5px 3px  rgba(0, 0, 0, 0.13);
}


.header .buttondiv button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;/*buyutec icin*/
    transition: transform 1s;
}
.header .buttondiv button:hover{
    color:white;
    transform: rotateY(180deg);
}
.header.sticky .buttondiv button:hover{
    color:rgba(55, 0, 255, 0.466);
}

.header.sticky .buttondiv{
    border-left:1.5px dotted black; 
}
.header.sticky .logo img{
    border-radius: 5rem;
}

/*gizli olan için*/
 .benimki{
    display: none;
}

@media only screen and (max-width: 768px) {
    .header{
        display:none;
    }

    .benimki .logo img{
        margin-left:3.5rem;
        width: 5rem;
        height: 5rem;
    }
    .benimki {
        display:block;
        background-color: #4796D6;
        font-size:2rem;
        
    }
    .benimki li{
        margin-left:2.5rem;
    }
    .sagdakibut{
        margin-right:3rem;
    }
    .benimki div {
        background-color: rgb(255, 255, 255);
    }


}
@media only screen and (max-width: 965px){
    header nav .nav-links li {
        font-size: x-small;
        display:inline;
    }
    .enbas{
        font-size: small;
    }
    .container form{
        width:50%;
    }
    .container form{ width:100%; } .container form input{ width:100%; }

}
@media only screen and (min-width: 965px) and (max-width: 1200px) {
    header nav .nav-links li {
        font-size: small;
        display:inline;
    }
    
    header .logo img{
        height:1px;
    }

 

    
}
@media only screen and (min-width:1200px){
    .enbas{
        font-size: x-large;
    }
    header{
        font-size:medium;
    }
}



@keyframes animheader{
    from{}
    to{
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(253, 252, 252, 0.75);
    background-color: white;
    margin: 2rem 7%;
    
  
    }
}
@keyframes animheader2{
    from{border-radius: 30rem;
        box-shadow: 0px 0px 17px -2px rgba(253, 252, 252, 0.75);   /* header a Tam tersi bir etki bırakmak için koydum*/
        background-color: white;
        margin: 2rem 7%;}
    to{

    }
}




 /*İletisim yazısı*/
 .enbas{
     padding-top: 1%;
     padding-left: 7%;
    
     color: white;
     border-style:dotted;
     border-color: white;
     border-width: 0.3rem 0rem 0.3rem 0rem; /* Sağ, üst, alt, sol kenar kalınlıkları */
     cursor:default;
     padding-bottom: 1%;
 
    
 }
 



/*vl icin */
.vertical-line {
    z-index: 2;
    width: 2px; /* Genişliği artırabilirsiniz */
    height: 100vh; /* İstediğiniz uzunluğu ayarlayabilirsiniz */
    border-left: 2px dotted white; /* Dotted çizgi ve rengi */
 
    position: absolute;
    left:4%;
}




/*iletisim start*/

.page .container{
    display: flex;
    
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:30px;
    background-color: #a88e94 !important;

}
.page .container form table .iletisimyazi{
    font-size:4rem;
    
}
#unlem{
    color:red;
    font-size:4.5rem;
}

.page .container form{
    background-color: rgba(118, 241, 231, 0.575);
    border-radius:30px;
    margin:3%; padding:5%;
}



.container form table tr td input{
    background-color: gray;
    font-size:2rem;
    margin:3rem 0;
   
    padding:1rem 2rem;
    border-radius: 0rem 5rem 5rem 0rem;
}
.container form table tr td .mesaj{
    width:100%;
    background-color: gray;
    font-size:2rem;
    margin:3rem 0;

    padding:1rem 2rem;
    border-radius: 1rem;
}
.container form table tr td label{
    margin:0 2rem;

    font-size:2rem;
}
.container form table .gonderbutton td {
    float:right;
}

.container form table tr td input:hover, .mesaj:hover{
    box-shadow:0px 10px 10px black;
    background-color: rgb(187, 174, 174);
}
.container form table tr td  .mesaj:hover{
    
    background-color: rgb(187, 174, 174);
}
.container form div{
    font-size:1.5rem;
}


